@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  list-style: none;
  line-height: 1.6;
  font-family: "Montserrat", Helvetica;
}

.bg-primarya {
  background: linear-gradient(
    270deg,
    rgb(144, 58, 255) 0%,
    rgb(212, 52, 254) 56.42%,
    rgb(255, 37.9, 184.51) 99.99%,
    rgb(254, 52, 185.32) 100%
  );
  border-radius: 4px;
}

.abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.congrats-dialog-box {
  background: url("../src/assets/congrat-bg.png") fixed;
  background-position: center;
  background-repeat: repeat;
  /* height: 100vh; */
}

#navbar a.active {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    90deg,
    rgb(144, 58, 255) 0%,
    rgb(255, 37.9, 184.51) 100%
  );
  background-clip: text;
  color: transparent;
  letter-spacing: 0;
  font-weight: 700;
}

.btn-link {
  border: 2px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgb(154, 57, 255), rgb(255, 41, 185))
    1;
  border-radius: 4px;
}

.authBg {
  background: #d9d9d908;
  border: 1px solid #d434fe;
}

.imageHero {
  height: 362px;
  width: 420px;
}
