@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Montserrat:wght@100;400;500;600;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  list-style: none;
  line-height: 1.6;
  font-family: 'Montserrat', Helvetica;
}

.bg-primary {
 background: linear-gradient(180deg, rgb(144, 58, 255) 0%, rgb(254, 52, 185.32) 100%);
}